.contact {
    &__container {
        background-color: rgba(255, 115, 0, 0.521);
        border-radius: 2rem;
        padding: 5rem 1.5rem;
        text-align: left;
        padding-bottom: 0;
        position: relative;
        overflow: hidden;
        @media (min-width: 40em) {
            display: grid;
            grid-template-columns: 250px 390px;
            padding-bottom: 1rem;
            justify-content: center;
        }
        @media (min-width: 64em) {
            grid-template-columns: 300px 500px;
            padding-block: 5rem 10rem;
        }
    }

    .section__title {
        font-size: 2rem;
        margin-bottom: .5rem;
    }
    &__social {
        margin-block: 1rem;
        display: flex;
        justify-content: flex-start;
        gap: 0.75rem;
        &__link {
            color: $title-color;
            font-size: 2rem;
            transition: 0.3s;
            &:hover {
                transform: translateY(-4px) scale(1.1);
            }
        }
    }
    &__location {
        margin-block: 1.5rem;
        color: #fff;
        line-height: 1.4;
        font-weight: 500;
        display: flex;
        justify-content: flex-start;
        gap: .25rem;
        & > div {
            text-align: left;
        }
        i {
            color: black;
            font-size: 1.2rem;
        }
    }
    &__number {
        display: flex;
        justify-content: flex-start;
        gap: .25rem;
        color: #fff;
        font-weight: 500;
        line-height: 1.4;
        i {
            color: black;
            font-size: 1.2rem;
        }
    }
    &__image {
        position: relative;
        bottom: -4px;
        filter: drop-shadow(5px -7px 12px rgba(0, 0, 0, 0.4));
        img {
            width: 21.87rem;
            @media (min-width: 40em) {
                width: 650px;
            }
        }
        @media (min-width: 40em) {
            position: absolute;
            bottom: -4px;
            right: 1rem;
        }
    }
}