.footer {
    background-color: #222;
    color: #fff;
    &__container {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        @media (min-width: 40em) {
            flex-direction: row;
            column-gap: 3rem;
            justify-content: center;
        }
        @media (min-width: 64em) {
            column-gap: 5rem;
        }
    }
    &__title {
        font-size: 1.1rem;
        margin-bottom: .75rem;
        font-family: $font-yuji;
    }
    &__col {
        form {
            background-color: #ddd;
            color: black;
            padding: .5rem;
            border-radius: 2rem;
            display: flex;
            column-gap: 1rem;
            font-size: 1rem;
            input {
                border: none;
                background-color: transparent;
                padding-left: .5rem;
                outline: none;
                caret-color: $primary-color;
                font-size: 1rem;
                width: 100%;
            }
            button {
                border: none;
                font-size: 1rem;
                background-color: $primary-color;
                color: #fff;
                padding: 1rem .75rem;
                border-radius: 2rem;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                    background-color: $alt-color;
                }
            }
        }
    }
    &__link {
        color: $primary-color;
        font-size: 1.5rem;
        transition: 0.3s;
        &:not(:last-child) {
            margin-right: .5rem;
        }
        &:hover {
            color: $alt-color;
        }
    }
    &__privacy {
        margin-top: 2rem;
        color: #ccc;
        font-size: .9rem;
        text-align: center;
        span:first-child {
            margin-right: .75rem;
        }
    }
}