.popular {
    text-align: center;
    .card-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
        gap: 2rem 1.5rem;
    }
    .card {
        border-radius: 1rem;
        border: 2px solid transparent;
        position: relative;
        background-color: orange;
        padding: 1rem .75rem;
        padding-bottom: 3rem;
        transition: 0.3s;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

        &:hover {
            border: 2px solid #000;
            img {
                transform: scale(1.1);
            }
        }
        
        img {
            filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.4));
            display: block;
            margin-inline: auto;
            transition: transform 0.3s; 
        }

        &__title {
            background-color: black;
            padding: .5rem;
            color: #fff;
        }
        &__description {
            margin-block: 1rem;
            color: #fff;
            font-weight: 500;
            opacity: 0.9;
            line-height: 1.4;
        }
        &__icon {
            position: absolute;
            background-color: transparent;
            padding: .5rem;
            border-radius: 50%;
            border: 1px solid #000;
            right: 1rem;
            bottom: 0.95rem;
            cursor: pointer;
            transition: 0.3s;
        }
        &:hover .card__icon {
            background-color: black;
            color: #fff;
        }
    }
}
