.products {
    &__container {
        display: grid;
        gap: 5rem 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        @media (max-width: 23.125em) {
            grid-template-columns: 9.375rem;
        }
        @media (min-width: 40em) {
            grid-template-columns: repeat(3, 11rem);
        }
        @media (min-width: 64em) {
            grid-template-columns: repeat(3, 15.625rem);
        }
    }
    .card {
        background-color: $alt-color;
        padding: 7rem .75rem 1rem .75rem;
        border-radius: 1.5rem;
        position: relative;
        box-shadow: 9px 6px 18px rgba(0, 0, 0, 0.4);
        &:hover {
            perspective: 150px;
            .card__image {
                transform: translateY(-.5rem);
                filter: drop-shadow(11px 17px 4px rgb(0, 0, 0));
            }
        }
        &__image {
            width: 6.875rem;
            position: absolute;
            top: -2.5rem;
            left: 0;
            right: 0;
            margin-inline: auto;
            transition: 0.3s;
            filter: drop-shadow(6px 8px 4px rgba(0, 0, 0, 1));
            @media (min-width: 40em) {
                width: 8rem;
                top: -3.5rem;
            }
            @media (min-width: 64em) {
                width: 13rem;
                top: -6rem;
            }
        }
        &__title {
            font-size: 1rem;
            margin-bottom: 1.5rem;
            font-family: $font-yuji;
            font-weight: 600;
            @media (min-width: 40em) {
                font-size: 1.2rem;
            }
            @media (min-width: 64em) {
                font-size: 1.5rem;
            }
        }
        @media (min-width: 64em) {
            padding: 10rem 1.5rem 1.5rem;
        }
    }
}